<br>
<div>
  <h1 style="padding-top: 20px">Insert Competition</h1>
  <hr>
  <form [formGroup]="form" (ngSubmit)="insertCompetition()">
    <div class="form-group col-md-6">
      Full Name: <input class="form-control" type="text" (change)="changeName($event)">
    </div>
    <div class="form-group col-md-6">
      Region: <input class="form-control" type="text" (change)="changeRegion($event)" >
    </div>
    <div class="form-group col-md-6">
      Image of the Competition: <input  type="file" (change)="upload($event)">
    </div>

    <div class="form-group col-md-6">
      <button style="background: #106eea;font-size: 15px; font-weight: bolder;" class="btn btn-primary btn-lg">Insert</button>
    </div>
  </form>
  <!--
  <div>
    Full Name: <input type="text" [(ngModel)]="full_name">
  </div>
  <div>
    Region: <input type="text" [(ngModel)]="region">
  </div>
  <div>
    Image of the Competition: <input type="file" [(ngModel)]="competition_badge_img">
  </div>
  <button (click)="insertCompetition()">Insert</button>
  -->
</div>
