<div  *ngIf="player" class="container" style="padding-top: 40px">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{baseURL}}{{player.player_img}}" alt="Admin" class="rounded-circle" width="150" height="150">
              <div class="mt-3">
                <h4>{{ player.name }}</h4>
                <p class="text-secondary mb-1">{{ player.birthday }} ({{ age }})</p>
                <p class="text-muted font-size-sm">{{ player.position }}</p>
                <ng-container *ngIf="profile">
                    <button  *ngIf="checkfavourite(player.id); else elseBlock" (click)="remove_to_Favourite()" style="background: #106eea;" class="btn btn-primary" name="remove" remove="remove"> Remove Favourite</button>
                    <ng-template #elseBlock>
                      <button style="background: #106eea;" class="btn btn-primary" (click)="add_to_Favourite()" value="add" name="add">Add Favourite</button>
                    </ng-template>
                </ng-container>
                  <button class="btn btn-info"   *ngIf="user=='admin'" name="edit"><a  href="{% url 'edit_player' player.id %}" style="color: white">Edit</a></button>
                  <button class="btn btn-danger" *ngIf="user=='admin'" value="delete" name="delete">Delete</button>
                <!--button class="btn btn-outline-primary">Message</button-->
              </div>
            </div>
          </div>
        </div>
        <br>
        <h5>Add Comment:</h5>
        <hr>
        <div class="card mt-3" style="border-color: white">
            <textarea #text class="form-control" style="resize:none" id="w3review" name="w3review" rows="3"></textarea>
            <button [disabled]="user == undefined || user=='admin'" (click)="add_comment(text.value)" style="background: #106eea;font-size: 12px; font-weight: bolder;" type="submit" class="btn btn-primary btn-lg">Comment</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{player.full_name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Height</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{player.height}} m
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nationality</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ player.nationality }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Best Foot</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ player.best_foot }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Preferred Number</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ player.preferred_number }}
              </div>
            </div>
          </div>
        </div>
        <h2>Teams</h2>
        <hr>
        <div class="card mb-3">
          <div *ngFor="let itemTeam of seasons; let itemSeasons of seasons" class="card-body">
            <div *ngIf="itemSeasons.team.id ==itemTeam.team.id" class="row">
              <div class="col-sm-3">
                <a href="/teamdetails/{{ itemTeam.team.id }}"><h6 class="mb-0">{{itemTeam.team.name}}</h6></a>
              </div>
              <div class="col-sm-9 text-secondary">
                {{itemSeasons.season}}
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h3 class="border-bottom pb-2 mb-0">Comments</h3>
  <div *ngFor="let comment of comments" class=" border-bottom d-flex text-muted pt-3">
    <p class="pb-3 mb-0 small lh-sm ">
      <strong class="d-block text-gray-dark">{{ comment.user.user.username }}</strong>
      {{ comment.comment }}
      <br>
      <small>{{ comment.timeofpost }}</small>
    </p>
  </div>
</div>

