<br>
<div>
  <h1 style="padding-top: 20px">Insert Staff</h1>
  <hr>
  <form [formGroup]="form" (ngSubmit)="insertStaff()">
    <div class="form-group col-md-6">
      Full Name: <input class="form-control" type="text" (change)="changeFullName($event)">
    </div>
    <div class="form-group col-md-6">
      Name: <input class="form-control" type="text" (change)="changeName($event)" >
    </div>
    <div class="form-group col-md-6">
      Birthday: <input class="form-control" type="date" (change)="changeBirthday($event)" >
    </div>
    <div class="form-group col-md-6">
      Nationality: <input class="form-control" type="text" (change)="changeNationality($event)" >
    </div>
    <div class="form-group col-md-6">
      Function: <input class="form-control" type="text" (change)="changeFunction($event)" >
    </div>
    <div class="form-group col-md-6">
      StaffImage: <input type="file" (change)="upload($event)">
    </div>
    <div class="form-group col-md-6">
      <button style="background: #106eea;font-size: 15px; font-weight: bolder;" class="btn btn-primary btn-lg">Insert</button>
    </div>
  </form>
</div>
