<br>
<div>
  <h1 style="padding-top: 20px" >Update Competition</h1>
  <hr>
  <div *ngIf="competition">
    <form [formGroup]="form" (ngSubmit)="updateCompetition()">
      <div class="form-group col-md-6">
        Full Name: <input class="form-control" type="text" (change)="changeName($event)" value="{{competition.full_name}}">
      </div>
      <div class="form-group col-md-6">
        Region: <input class="form-control" type="text" (change)="changeRegion($event)" value="{{competition.region}}">
      </div>
      <div class="form-group col-md-6">
        Image of the Competition: <input type="file" (change)="upload($event)">
      </div>
      <div class="form-group col-md-6">
        <button style="background: #106eea;font-size: 15px; font-weight: bolder;" class="btn btn-primary btn-lg">Update</button>
      </div>
    </form>
  </div>
</div>

