<div class="signup-form" style="padding-top: 20px; width:800px; ">
  <form action="." method="post">
    <h2>Sign Up</h2>
    <p >Please fill in this form to create an account!</p>
    <hr>
    <div class="form-group">
      <div class="input-group mb-3" style="max-width: 50%">
        <span class="input-group-text"><i class="fa fa-user"></i></span>
        <input #username type="text" class="form-control" id="User_Username" aria-describedby="emailHelp" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-3" style="max-width: 50%">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <input #email type="email" class="form-control" id="User_email" aria-describedby="emailHelp" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-3" style="max-width: 50%">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
        <input  #password1 type="password" class="form-control" id="User_Password" aria-describedby="emailHelp" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-3" style="max-width: 50%">
        <span class="input-group-text"><i class="fa fa-check"></i></span>
        <input #password2 type="password" class="form-control" id="User_Password2" aria-describedby="emailHelp" placeholder="Password">
      </div>
    </div>
    <div style="padding-left: 20px" class="form-group">
      <input class="form-check-input" type="checkbox" value="True" id="defaultCheck_job_football_related">
      <label class="form-check-label" for="defaultCheck_job_football_related">
        Football Related Job:
      </label>
      <p>{{ error?.message }}</p>
      <p *ngIf="error">{{ error?.error | json }}</p>
    </div>
    <div class="form-group">
      <div> Already have an account? <a routerLink="/login" style="font-weight: bolder">Login here</a></div>
    </div>
    <div class="form-group">
      <button  (click)="signup(username.value, email.value, password1.value, password2.value)" style="background: #106eea;font-size: 20px; font-weight: bolder;" type="submit" class="btn btn-primary btn-lg">Sign Up</button>
    </div>
  </form>

</div>
