<section id="services" class="services" >
  <div class="section-title">
    <h2>Competitions</h2>
    <h3>Check our <span>Competitions</span></h3>
    <p>Competitions from all over the world with accurate data.</p>
  </div>
  <div class="container" data-aos="fade-up">
    <!--form class="form-row" style="text-align: center" action="{% url 'competitions' %}" method="post">
      <div class="form-group col-md-4">
        {% csrf_token %}
        {{ form.full_name }}
      </div>
      <div class="form-group col-md-4">
        {{ form.region }}
      </div>
      <div class="form-group col-md-3">
        {{ form.order }}
      </div>
      <div class="form-group col-md-1">
        <button class="btn btn-primary" style="background: #106eea;" name="search" type="submit" value="search">Search</button>
      </div>
    </form-->
    <hr>
    <div class="row">
      <div *ngFor="let competition of competitions" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <a routerLink="/competitiondetails/{{ competition.id }}"><img class="center"  src="{{baseURL}}{{ competition.competition_badge_img }}"></a>
          <br>
          <h2 class="ClubName" style="text-align: center"><a  class="ClubName" routerLink="/competitiondetails/{{ competition.id }}">{{ competition.full_name }}</a></h2>
        </div>
      </div>
    </div>
  </div>
</section>

