<br>
<div>
  <h1 style="padding-top: 20px">Insert Player</h1>
  <hr>
  <form [formGroup]="form" (ngSubmit)="insertPlayer()">
    <div class="form-group col-md-6">
      Full Name: <input class="form-control" type="text" (change)="changeFullName($event)">
    </div>
    <div class="form-group col-md-6">
      Name: <input type="text" class="form-control"  (change)="changeName($event)" >
    </div>
    <div class="form-group col-md-6">
      Birthday: <input type="date" class="form-control"  (change)="changeBirthday($event)" >
    </div>
    <div class="form-group col-md-6">
      <labeL>Height: </labeL>
      <input type="number" class="form-control"  (change)="changeHeight($event)" >
    </div>
    <div class="form-group col-md-6">
      <label>Nationality: </label>
      <input type="text" class="form-control"  (change)="changeNationality($event)" >
    </div>
    <div class="form-group col-md-6">
      <label>Position</label>
      <select name="position" class="form-control" (change)="changePosition($event)">

        <option value="Striker">ST-Striker</option>

        <option value="Left Winger">LW-Left Winger</option>

        <option value="Right Winger">RW-Right Winger</option>

        <option value="Central Attacking Midfielder">CAM-Central Attacking Midfielder</option>

        <option value="Central Midfielder">CM-Central Midfielder</option>

        <option value="Central Defensive Midfielder">CDM-Central Defensive Midfielder</option>

        <option value="Left Back">LB-Left Back</option>

        <option value="Right Back">RB-Right Back</option>

        <option value="Center Back">CB-Center Back</option>

        <option value="Goalkeeper">GR-Goalkeeper</option>

      </select>
    </div>

    <div class="form-group col-md-6">
      <label>Best foot</label>
      <select name="best_foot" class="form-control" (change)="changeBestFoot($event)">

        <option value="Left">L-Left</option>

        <option value="Right">R-Right</option>

        <option value="Both">B-Both</option>

      </select>
    </div>
    <div class="form-group col-md-6">
      <label>Prefered number:</label>
      <input class="form-control"  type="number" (change)="changePreferedNumber($event)" >
    </div>
    <div class="form-group col-md-6">
      <label>Image of the Competition:</label>
      <input  type="file" (change)="upload($event)">
    </div>

    <div class="form-group col-md-6">
      <button style="background: #106eea;font-size: 15px; font-weight: bolder;" class="btn btn-primary btn-lg">Insert</button>
    </div>
  </form>
</div>


