<!-- ======= Featured Services Section ======= -->
<div class="p-5 mb-4 bg-light rounded-3" style="background: url('assets/background.jpg')" >
  <div class="container-fluid py-5">
    <h1 style="font-family: Poppins, sans-serif; font-weight: 600;">Football Nerds</h1>
    <p style="font-family: Poppins, sans-serif; font-weight: 600;">A Place About Football</p>
  </div>
</div>
<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100" style="background: url('assets/teamfundo.jpg');background-size: cover;">
          <h4  style="font-family: Poppins, sans-serif; font-weight: 800;" class="title"><a href="">Teams</a></h4>
          <p  style="font-family: Poppins, sans-serif; font-weight: 600;" class="description">Find and Check your Favourite Teams!</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200" style="background: url('assets/playerfundo2.png');background-size: cover;">
          <h4  style="font-family: Poppins, sans-serif; font-weight: 800; " class="title"><a href="">Players</a></h4>
          <p  style="font-family: Poppins, sans-serif; font-weight: 600;" class="description">Find and Check your Favourite Players!</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300" style="background: url('assets/competitionsfundo.png');background-size: cover;">
          <h4  style="font-family: Poppins, sans-serif; font-weight: 800;" class="title"><a href="">Competitions</a></h4>
          <p  style="font-family: Poppins, sans-serif; font-weight: 600;" class="description">Find and Check your Favourite Competitions!</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400" style="background: url('assets/stafffundo.png');background-size: cover;">
          <h4  style="font-family: Poppins, sans-serif; font-weight: 800;" class="title"><a href="">Staff</a></h4>
          <p  style="font-family: Poppins, sans-serif; font-weight: 600;" class="description">Find and Check your Team Staff!</p>
        </div>
      </div>
    </div>
  </div>
</section>
